.button {
  width: var(--sizes-8);
  height: var(--sizes-8);
  background: inherit;
  color: inherit;
  border: none;
  padding: var(--space-1);
  display: flex;
  align-items: center;
  justify-content: center;
}
